{{ define "header" }}<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="author" content="{{ html .Site.Other.Author }}">
  <link rel="alternate" type="application/atom+xml" title="{{ html .Site.Other.Title }} feed" href="{{ .Rel "blog.atom" }}">
  <title>{{ .Site.Other.Title }}{{ if .Title }}: {{ .Title }}{{ end }}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/bulma.min.css">
</head>
<body>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Golang Books
      </h1>
    </div>
  </div>
</section>
{{ end }}

{{ define "footer" }}
</body>
</html>
{{ end }}

{{ define "page" }}{{ template "header" . }}
<div class="container">
  {{ .Content }}
</div>
{{ template "footer" . }}{{ end }}

{{ define "post" }}
<article>
  <header>
    <h1>{{ .Title }}</h1>
    <div class="info">
      {{ range $i, $t := .Tags }}{{if $i}},{{end}}
      <a href="/tags/{{ $t }}/">{{ $t }}</a>{{ end }}
    </div>
  </header>
  <section>
  {{ .Content }}
  </section>
</article>
{{ end }}

{{define "tag"}}
# Pages tagged with {{ .Title }}
{{ range .Site.Pages.WithTag .Title }}
- [{{ .Title }}](../../{{ .Url }})
{{ end }}
{{ end }}
